*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

h2{
    padding-top: 2%;
}

#plant{

margin-top: 5%;

}

footer{
   margin-top: 30px; margin-bottom: 0%;
   padding-top: 5%; padding-bottom: 5%;
}

.items_pie a{
    padding-right: 15px;
}

.copyright{
    margin-top: 5px;
}

.llamada{
    margin: 100px 0 20px 0;
    padding: 70px 0 70px 0;
    border-radius: 10px;
}

.formulario{
    padding: 70px 0 70px 0;
    border-radius: 10px;
}
